
.border-input span{
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.form-group .border-input input.form-control {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border-left: 0;
    padding-left: 1.5rem;
}

.form-group .border-input select.form-control {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border-left: 0;
    padding-left: 1.5rem;
}

.form-group .select-css {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.text-principal {
    color: #a1a8c3;
}

.border-button {
    border-radius: .5rem;
}

.p-login {
    padding: 4rem 4rem 0 4rem !important;
}

.p-login-alert {
    padding-top: 2rem !important;
}

.auth .login-half-bg {
    height: 100vh;
}

.auth.auth-img-bg .auth-form-transparent{
    margin-top: 0;
}


/* ANIMATE */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

@media (max-width: 990px) {
    .banner-none {
        display:none !important;
    }
}